{% extends "base.html" %}
{% block content %}
    <h1>Your profile</h1>
    <h2>Your posts</h2>
    <table>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Quantity</th>
        <th>Location</th>
        <th>Date</th>
    {% for post in posts %}
        <tr>
            <td>{{ post.provider.user.first_name }}</td>
            <td>{{ post.provider.user.last_name }}</td>
            <td>{{ post.quantity }}</td>
            <td>{{ post.location.city }}</td>
            <td>{{ post.post_date }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
